<footer>
        <hr>
        <br>
        <div>
        {{#with social}}
                  {{> link text=email.text href=email.href blank=true }}
                  {{> link text=phone.text href=phone.href blank=true }}
                  {{> link text=Linkedin.text href=Linkedin.href blank=true }}
        {{/with}}
        </div>
        <br>
        <div>
          <em>Copyrihgt by {{../header/name/firstname}} {{../header/name/lastname}}</em>
        </div>
        <br>
        <div>
         <address>{{../header/address}}</address> 
        </div>
</footer>